<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>tienh@pivot.jp</emailSenderAddress>
    <emailSenderName>CloudKicksTheme</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Admin</profile>
    </networkMemberGroups>
    <picassoSite>CloudKicksTheme1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>CloudKicksTheme</site>
    <status>UnderConstruction</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
    </tabs>
    <urlPathPrefix>cloudkick</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
