<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#51606E</zeronaryColor>
        <zeronaryComplementColor>#FFFFFF</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>tienh@pivot.jp</emailSenderAddress>
    <emailSenderName>Talent Management</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <enableSiteAsContainer>true</enableSiteAsContainer>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Admin</profile>
    </networkMemberGroups>
    <picassoSite>Talent_Management1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>Talent_Management</site>
    <status>Live</status>
    <tabs>
        <customTab>Employee__c</customTab>
        <customTab>Employee_Hiring__c</customTab>
        <customTab>Employees</customTab>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>AppLauncher</standardTab>
        <standardTab>Asset</standardTab>
        <standardTab>Campaign</standardTab>
        <standardTab>Case</standardTab>
        <standardTab>ChannelProgramLevel</standardTab>
        <standardTab>ChannelProgram</standardTab>
        <standardTab>Coaching</standardTab>
        <standardTab>Console</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>ContentSearch</standardTab>
        <standardTab>Contract</standardTab>
        <standardTab>DandBCompany</standardTab>
        <standardTab>Dashboard</standardTab>
        <standardTab>JigsawSearch</standardTab>
        <standardTab>DuplicateRecordSet</standardTab>
        <standardTab>WorkFeedbackRequest</standardTab>
        <standardTab>File</standardTab>
        <standardTab>GoalV2</standardTab>
        <standardTab>Idea</standardTab>
        <standardTab>Lead</standardTab>
        <standardTab>Workspace</standardTab>
        <standardTab>Macro</standardTab>
        <standardTab>Metric</standardTab>
        <standardTab>Opportunity</standardTab>
        <standardTab>Order</standardTab>
        <standardTab>PartnerFundAllocation</standardTab>
        <standardTab>PartnerFundClaim</standardTab>
        <standardTab>PartnerFundRequest</standardTab>
        <standardTab>PartnerMarketingBudget</standardTab>
        <standardTab>WorkPerformanceCycle</standardTab>
        <standardTab>Pricebook2</standardTab>
        <standardTab>Product2</standardTab>
        <standardTab>ProfilePlatformCoaching</standardTab>
        <standardTab>ProfilePlatformFeedback</standardTab>
        <standardTab>ProfilePlatformGoals</standardTab>
        <standardTab>report</standardTab>
        <standardTab>SOSSession</standardTab>
        <standardTab>Scorecard</standardTab>
        <standardTab>Sites</standardTab>
        <standardTab>Solution</standardTab>
        <standardTab>StreamingChannel</standardTab>
        <standardTab>ContentSubscriptions</standardTab>
        <standardTab>UserProvisioningRequest</standardTab>
    </tabs>
    <urlPathPrefix>tm</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
