.THIS .main-header {
    padding: .7rem .7rem;
    background-color: #F4F6F9;
    color: #344C71;
    border-radius: 4px 4px 0px 0px;
}

.THIS
{
    padding: .75rem;
}

.THIS .color-white
{
    background-color:white;
}

.THIS div:last-child
{
    border-radius: 0px 0px 4px 4px;
}